

@font-face {
	font-family: 'HelveticaNeue-light';
	src: url(/helvetica/HelveticaNeueLight.otf);
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'HelveticaNeue-ultraLight';
	src: url(/helvetica/HelveticaNeueUltaLight.otf);
	font-weight: lighter;
	font-style: normal;
  }

  @font-face {
	font-family: 'HelveticaNeue-bold';
	src: url(/helvetica/HelveticaNeueBold.otf);
	
  }


@media screen and (min-width: 375px) and (max-width: 479px){

	#fotoMaro{
		width: 40%;
	}
 }